
p {
    font-family: 'Open Sans', sans-serif;
    margin-top: 1rem;
	color: rgb(0, 0, 0);
}

body {
	background-color: #ffffff;
	padding: 0;
	margin: 0;
}

#heading {
    font-size: 32px;
	margin-bottom: 1rem;
}

.header {
	padding-top: 1%;
	font-size: 3vh;
	text-align: center;
}


#search {
	width: 55vw;
	height: 5vh;
	font-size: 2vh;
	padding-left: 1vh;
	border-radius: 0;
	border-width: 1px;
	box-shadow: 5px 5px #e4e4e4;
	font-weight: lighter;
}

.searchbar {
	padding-top: 2%;
}

.titlebar {
	background-color: #92BEFF;
	height: 6vh;
	width: 100%;
	color: black;
	font-size: 2vh;
	display: grid;
    place-content: center;
}

.main-content {
	display: grid;
}

.information {
	padding-left: 20%;
	padding-right: 20%;
}

#numbers {
	padding-bottom: 2%;
	margin-bottom: 0px;
	font-size: 2vh;
}


.center-content {
    display: grid;
    place-content: center;
}

#data {
	padding: 2rem;
}


button {
	height: 2rem;
}

div {
	font-family: 'Open Sans', sans-serif;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgb(0, 1, 22);
	color: white;
	text-align: center;
}
a {
	color:#45b2c0;
}

.apexcharts-tooltip {
    background: #f3f3f3;
    color: black;
}
